<main class="flex flex-col items-center w-screen">
  <p style="color: green"><%= notice %></p>
  <p style="color: red"><%= alert %></p>

  <h2 class="text-3xl font-bold pb-6" >Rails Timesheets</h2>

  <%= form_with(url: sign_in_path) do |form| %>
    <div>
      <%= form.label :email, style: "display: block" %>
      <%= form.email_field :email, value: params[:email_hint], required: true, autofocus: true, autocomplete: "email", class: "rounded-md" %>
    </div>

    <div>
      <%= form.label :password, style: "display: block" %>
      <%= form.password_field :password, required: true, autocomplete: "current-password", class: "rounded-md" %>
    </div>

    <button class="rounded-md border-2 w-full my-5 hover:bg-blue-100 hover:border-blue-400">
      <%= form.submit "Sign in", class: "hover:cursor-pointer" %>
    </button>
  <% end %>

  <div>
    <%= link_to "Sign up", sign_up_path, class:"text-blue-400 hover:text-blue-800" %> |  
    <%= link_to "Forgot your password?", new_identity_password_reset_path, class:"text-blue-400 hover:text-blue-800" %>
  </div>

</main>
