<main class="flex flex-col items-center w-screen">
  <p style="color: red"><%= alert %></p>

  <h1 class="pb-4">Forgot your password?</h1>

  <%= form_with(url: identity_password_reset_path) do |form| %>
    <div>
      <%= form.label :email, style: "display: block" %>
      <%= form.email_field :email, required: true, autofocus: true %>
    </div>

    <div class="text-center pt-4">
      <%= form.submit "Send password reset email", class:"text-blue-400 hover:text-blue-800 hover:cursor-pointer" %>
    </div>
    <button class="rounded-md border-2 w-full mt-5 hover:bg-blue-200 hover:border-blue-400">
      <%= link_to "Return to login", sign_in_path %>
    </button>
  <% end %>
</main>